In [1]:
import dovahkiin as dk
import pandas as pd
from dovahkiin.strategy.Sample_CrossOver import CrossOver
from dovahkiin.analysis import StandardAnalysis

In [2]:
import talib

In [3]:
dataParser = dk.DataParser()

In [4]:
cuData = dataParser.get_data('cu')

In [5]:
cuData = cuData["2012":]

In [6]:
s = CrossOver(cuData, {"shortPeriod": 10, "longPeriod": 50})
s.run()
evaluation = StandardAnalysis(cuData.close, s.Positions, 10, 2)
evaluation.report()

{'maxdrawdown': 196566.9211000033,
 'profit': -195649.37640000333,
 'tradesnum': 22429.0}

In [12]:
talib.LINEARREG_SLOPE(cuData.close.values, 20)

array([        nan,         nan,         nan, ..., -0.50893602,
       -0.38581271, -0.26991489])

In [11]:
def zigzag(s, pct=5):
    ut = 1 + pct / 100
    dt = 1 - pct / 100

    ld = s.index[0]
    lp = s.close[ld]
    tr = None

    zzd, zzp = [ld], [lp]

    for ix, ch, cl in zip(s.index, s.high, s.low):
        # No initial trend
        if tr is None:
            if ch / lp > ut:
                tr = 1
            elif cl / lp < dt:
                tr = -1
        # Trend is up
        elif tr == 1:
            # New high
            if ch > lp:
                ld, lp = ix, ch
            # Reversal
            elif cl / lp < dt:
                zzd.append(ld)
                zzp.append(lp)

                tr, ld, lp = -1, ix, cl
        # Trend is down
        else:
            # New low
            if cl < lp:
                ld, lp = ix, cl
            # Reversal
            elif ch / lp > ut:
                zzd.append(ld)
                zzp.append(lp)

                tr, ld, lp = 1, ix, ch

    # Extrapolate the current trend
    if zzd[-1] != s.index[-1]:
        zzd.append(s.index[-1])

        if tr is None:
            zzp.append(s.close[zzd[-1]])
        elif tr == 1:
            zzp.append(s.high[zzd[-1]])
        else:
            zzp.append(s.low[zzd[-1]])

    return Series(zzp, index=zzd)

In [50]:
def ema(s, n, wilder=False):
    span = n if not wilder else 2*n - 1
    return s.ewm(span=span).mean()

In [51]:
def ema2(s, n, wilder=False):
    span = n if not wilder else 2*n - 1
    return pd.stats.moments.ewma(s, span=span)

In [52]:
diff = ema2(cuData.close, 10, wilder=True) - ema(cuData.close, 10, wilder=True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: pd.ewm_mean is deprecated for Series and will be removed in a future version, replace with
	Series.ewm(span=19,min_periods=0,adjust=True,ignore_na=False).mean()
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
diff.abs().sum()

0.0

In [5]:
sigs = pd.read_csv("93013_20170625_ALLSig.csv", index_col=[0], names=["datetime", "position"])

In [6]:
sigs

                     position
datetime
2003-08-01 09:00:00         0
2003-08-01 09:01:00         0
2003-08-01 09:02:00         0
2003-08-01 09:03:00         0
2003-08-01 09:04:00         0
2003-08-01 09:05:00         0
2003-08-01 09:06:00         0
2003-08-01 09:07:00         0
2003-08-01 09:08:00         0
2003-08-01 09:09:00         0
2003-08-01 09:10:00         0
2003-08-01 09:11:00         0
2003-08-01 09:12:00         0
2003-08-01 09:13:00         0
2003-08-01 09:14:00         0
2003-08-01 09:15:00         0
2003-08-01 09:16:00         0
2003-08-01 09:17:00         0
2003-08-01 09:18:00         0
2003-08-01 09:19:00         0
2003-08-01 09:20:00         0
2003-08-01 09:21:00         0
2003-08-01 09:22:00         0
2003-08-01 09:23:00         0
2003-08-01 09:24:00         0
2003-08-01 09:25:00         0
2003-08-01 09:26:00         0
2003-08-01 09:27:00         0
2003-08-01 09:28:00         0
2003-08-01 09:29:00         0
...                       ...
2017-04-28 14:30:00         1
2017-04-28 14:31:00         1
2017-04-28 14:32:00         1
2017-04-28 14:33:00         1
2017-04-28 14:34:00         1
2017-04-28 14:35:00         1
2017-04-28 14:36:00         1
2017-04-28 14:37:00         1
2017-04-28 14:38:00         1
2017-04-28 14:39:00         1
2017-04-28 14:40:00         1
2017-04-28 14:41:00         1
2017-04-28 14:42:00         1
2017-04-28 14:43:00         1
2017-04-28 14:44:00         1
2017-04-28 14:45:00         1
2017-04-28 14:46:00         1
2017-04-28 14:47:00         1
2017-04-28 14:48:00         1
2017-04-28 14:49:00         1
2017-04-28 14:50:00         1
2017-04-28 14:51:00         1
2017-04-28 14:52:00         1
2017-04-28 14:53:00         1
2017-04-28 14:54:00         1
2017-04-28 14:55:00         1
2017-04-28 14:56:00         1
2017-04-28 14:57:00         0
2017-04-28 14:58:00         0
2017-04-28 14:59:00         0

[938655 rows x 1 columns]